 {% extends 'base.html' %}

{% block content %}
<head>
  <style>
    body{

    }
    .btn{
        background-color: #005bbb;
        border: 2px solid #005bbb;
        color: #ffffff;
    }
    .btn:hover,
    .btn:focus {
      background-color:  #002f56;
      color:  #ffffff;
      border: 2px solid #002f56;
    }
    .jumbotron{
      width: 50%;
      margin-left:20%;
      margin-top: 5%;

    }


  </style>
</head>
{% if form.errors %}
<div class="alert alert-danger">
  <a class="close" href="#" data-dismiss="alert">×</a>
  <p class=" label label-danger">
      Your username and password didn't match.
      Please try again.
  </p>
</div>
{% endif %}
<div class="container">
  <div class="jumbotron">
    <h1> Welcome Back!</h1>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
      <div>
        {{ field.label_tag }}<br>
        {{ field }}
      </div>
      {% endfor %}
    <button style="position:relative;float:right;" class="btn" type="submit">Login</button>
    </form>
  </div>
</div>
{% endblock %}
