<!DOCTYPE HTML>
<meta charset=UTF8>
<html>

<head>
  {% block head %}

  <!-- Local stylesheets, JS libraries, etc -->

  <!-- This file only CSS -->

{% endblock %}
<!-- Bootstrap and navbar-specific pages are not in block head, so they may work on all sites which have the navbar.-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  <!-- JQuery --> 
  <script
  src="https://code.jquery.com/jquery-3.4.0.js"
  integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
  crossorigin="anonymous"></script>
 <style>
    .navbar {
      background-color: #005bbb; /*The Official UB Blue*/
      color: #ffffff;
    }
    .navbar li a, .navbar .navbar-brand {
      color: #ffffff;
    }
    .nav-item {
      color: #ffffff
    }
    body {
      background-color: #F3F3F3;
      height: 100%;
    }
    .row{
      margin-top: 20px;
    }
    .jumbotron{
      margin-top: 20px;
    }
  </style>
  <script>
  $(document).on('click', "#createbtn" ,function(){
    var ctopic = $('#roomTopic').val();
    var croom = $('#roomName').val()
    $.ajax({
      type: "POST",
      url: ("/room/create/"),
      data: {topic: ctopic , roomname : croom , csrfmiddlewaretoken: '{{csrf_token}}'},
      dataType: "json",
      });
    });
    $(document).on('click', "#joinbtn" ,function(){
    var jid = $('#joinCode').val();
    var jroom = $('#joinName').val()
    $.ajax({
      type: "POST",
      url: ("/room/join/"),
      data: {id: jid , roomname : jroom , csrfmiddlewaretoken: '{{csrf_token}}'},
      dataType: "json",
      });
    }); 
      
  </script>
  <meta charset="utf-8">
  <title>{% block title %}Debate App{% endblock %}</title>
</head>


<body>
  <nav class="navbar navbar-expand-lg">
   <a class="navbar-brand" href="/">Debate Central</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
   <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
     <div class="navbar-nav">
       <a class="nav-item nav-link" href=""><b>Room</b> {{current_code}} </a>
       {% if user.is_authenticated %}
        <!-- Button trigger modal -->
        <a class ="nav-item nav-link" data-toggle="modal" data-target="#roomModal">
          <b>Create Room </b>
        </a>

        <!-- Modal -->
        <div class="modal fade" id="roomModal" tabindex="-1" role="dialog" aria-labelledby="roomModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form action="#" method="POST">{% csrf_token %}
            <div class="modal-header">
              <h5 class="modal-title" id="roomModalLabel">Create a Room</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <div class="form-group">
              <label for="roomTopic">Room Topic</label>
              <input name="createTopic" type="text" class="form-control" id="roomTopic" aria-describedby="createTopic" placeholder="The room topic">
            </div>
            <div class="form-group">
              <label for="roomName">Room Name</label>
              <input name="createName" type="text" class="form-control" id="roomName" aria-describedby="createTopic" placeholder="The room name">
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button id="createbtn" type="button" class="btn btn-primary">Create!</button>
            </div>
            </form>
          </div>
        </div>
        </div>
        <!-- End Modal -->
         <!-- Button trigger modal -->
        <a class ="nav-item nav-link" data-toggle="modal" data-target="#joinModal">
          <b>Join Room </b>
        </a>

        <!-- Modal -->
        <div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="joinModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form action="#" method=get>
            <div class="modal-header">
              <h5 class="modal-title" id="joinModalLabel">Join a Room</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <div class="form-group">
              <label for="joinName">Room Name</label>
              <input type="text" class="form-control" id="joinName" aria-describedby="joinID" placeholder="The room Name">
            </div>
            <div class="form-group">
              <label for="joinCode">Room Name</label>
              <input type="text" class="form-control" id="joinCode" aria-describedby="joincode" placeholder="The room Identifier">
            </div>

            <hidden for="username" id="room-username" data="{{user.nickName}}"> </hidden>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button name="joinbtn" type="button" class="btn btn-primary">Create!</button>
            </div>
            </form>
          </div>
        </div>
        </div>
        <!-- End Modal -->
       <a class="nav-item nav-link" href="accounts/profile">My Profile</a>
       <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
        {% else %}
       <a class="nav-item nav-link" href="/accounts/login">Login</a>
       <a class="nav-item nav-link" href="/accounts/signup">Register</a>  {% endif %}
     </div>
   </div>
 </nav>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>

</html>
