<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<head>
  <style>
    .btn{
        background-color: #005bbb;
        border: 2px solid #ffffff;
        width: 15%;
        color: #ffffff;
    }
    .btn:hover,
    .btn:focus {
      background-color: #002f56;
      color:  #ffffff;
      border: 2px solid #002f56;
    }

  </style>
</head>
{% if user.is_authenticated %}
<div class="container">
  <div class="jumbotron">
    <h1>Hi {{ user.nickName }}!</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="well well-lg">
        <a href="#"><h4>Rooms I've Created</h4></a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="well well-lg">
        <a href="#"><h4>Rooms I've Followed</h4></a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="well well-lg">
        <a href="#"><h4>My Information</h4></a>
      </div>
    </div>
  </div>
</div>
{% else %}

<body style="background: #005bbb;">
  <div class="container" style="display: flex; align-items: center; justify-content: center ">
    {% load static %}
      <img src="{% static 'accounts/logo.png' %}" alt="logo" style="height: 50%; width: 50%;">
  </div>
  <div class="row justify-content-center" style="margin-top: -3%;">
    <a href="{% url 'login' %}" role="button" class="btn">Login</a>
  </div>
  <div class="row justify-content-center" style="margin-top: 1.5%;">
    <a href="{% url 'signup' %}" role="button" class="btn">Register</a>
  </div>
</body>
{% endif %}
{% endblock %}
