{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
  <div class="jumbotron" style="width: 600px; margin-top: 75px; margin-left: 15%;">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <br>
      <button style="position:relative;float:left; margin-right: 20px;" class="btn btn-success btn-lg" id="submitcuser" type="submit">Submit</button>
    </form>
    <a style="position:relative;float:left;" class="btn btn-danger btn-lg" href="/accounts/profile">Cancel</a>
  </div>
</div>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  <a href="{% url 'signup' %}">register</a>
{% endif %}
{% endblock %}
