{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
  <div class="jumbotron">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <br>
      <button style="position:relative;float:left;" class="btn btn-primary btn-lg" type="submit">Submit</button>
    </form>
    <a style="position:relative;float:left;" class="btn btn-primary btn-lg" href="/accounts/profile">Cancel</a>
  </div>
</div>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  <a href="{% url 'signup' %}">register</a>
{% endif %}
{% endblock %}
