{% extends 'base.html' %}

{% block title %}Debate Room{% endblock %}

<div class="container">
  <div class="jumbotron">
    <h1>Debate Question: {{ PLACEHOLDER FOR DEBATE TOPIC }}!</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="well well-lg">
        <h4>Agree</h4>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="well well-lg">
        <h4>Disagree</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p>agree comments</p>
    </div>
    <div class="col-sm-6">
      <p>disagree comments</p>
    </div>
  </div>
</div>
