{% extends 'base.html' %}

{% block head %}
  <style> 
 .topic{
    background-color:#005bbb;
    color:#FFFFFF;
  }

  </style>

{% endblock %}
{% block title %}Debate Room{% endblock %}


<div class="container container-room">
	<div class="row"> <!-- The topic overview Jumbotron -->
    	<div class="col-1 col-md-2"> </div>
        	
        <div class="topic jumbotron jumbotron-fluid col-10 col-md-8">
          <div class="container-fluid">
          	<h1 style="text-align:center;" class=display-4> {{Example Debate Topic}} </h1>
            <h3 style="text-align:center;"> Option 1 X Option 2 </h3>        
          </div>
        </div>
      	<div class="col-1 col-md-2"> </div>
	</div>
	
  	<div class="row"> <!-- Some sort of.. perhaps progress bar... between argee and disagreeing sides-->
      TODO: Progress bar of how many votes  ,and a visual aid of percentage for each side.
      {{slug}}
      
	</div>
  
	<div class="row">
    <div class="col-sm-6">
      <div class="well well-lg">
        <h4>Agree</h4>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="well well-lg">
        <h4>Disagree</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p>agree comments</p>
    </div>
    <div class="col-sm-6">
      <p>disagree comments</p>
    </div>
  </div>
</div>