<!-- templates/signup.html -->

{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<div class="container">
  <div class="jumbotron">
    <h1> Create an account</h1>

    <form method="post">
     {% csrf_token %}


      {% for field in form %}
     <div class="form-group">
       {{ field.label_tag }}
       <input {%if "password" in field.id_for_label %}
        type="password"
        {%else%}
         type="text"
        {%endif%}
       name="{{ field.name }}"
       class="form-control"
       id="{{ field.id_for_label }}"
       {% if field.name.value != None %}value="{{ field.name.value|stringformat:'s' }}"{% endif %}
       maxlength="{{ field.max_length }}"
       {% if form.name.field.required %}required{% endif %}>
       {% for error in field.errors %}
         <p style="color: red">{{ error }}</p>
       {% endfor %}
     </div>
   {% endfor %}

   <input style="position:relative;float:right;" class="btn btn-primary btn-lg" type="submit" value="Login">
    </form>

  </div>
</div>

{% endblock %}
