{% extends 'templates/base.html' %}

<div class="container">
   <div class="jumbotron">
    <h1> Create an account</h1>
    <b> Username </b>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="enter here" aria-describedby="basic-addon1">
      </div>
      <p> </p>
     <b> Password </b>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="enter here" aria-describedby="basic-addon1">
      </div>

  <span><a class="btn btn-primary btn-md" href="#" role="button">Register</a></span>
</div>
  </div>